<div class="conversation-topper">
  <div class="d-flex align-items-center">
    <% if conversation.opposed_user(current_user).photos.any? %>
      <%= cl_image_tag conversation.opposed_user(current_user).photos.first.photo, height: 35, width: 35, crop: :fill, class: "avatar" %>
    <% else %>
      <%= cl_image_tag 'qtzze0folkfxpncosvni', height: 35, width: 35, crop: :fill, class: "avatar" %>
    <% end %>
    <div><%= conversation.opposed_user(current_user).user_name %> <span class="type-indication">is typing...</span> </div>
  </div>
  <i class="fas fa-bars convo-top-info dropdown-toggle" id="messageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
   <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messageDropdown">
  </div>
</div>

<% @messages.each do |message| %>
  <% if current_user == message.sender %>
    <div class="comment bubble-right" data-message-id="<%= message.id %>">
  <% else %>
    <div class="comment bubble-left" data-message-id="<%= message.id %>">
  <% end %>
    <p><%= message.body %></p>
  </div>
<% end %>
