<div class="container">
  <% chat_margin = '16px' %>
  <% if @new_matches.any? %>
    <% chat_margin = '0px' %>
    <div class="match-bar">
      <span class="match-text">New matches</span>
      <div class="match-content">
        <% @new_matches.each do |match| %>
          <div class="match-box">
            <%= link_to start_conversation_path, remote: true do %>
              <%= cl_image_tag match.photos.first.photo, height: 45, width: 45, crop: :fill, class: "avatar" %>
            <% end %>
            <span><%= match.user_name %></span>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="container-conversation" style="margin-top: <%= chat_margin %> ; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path 'lmvtemkcyjxacb6nvx17', crop: :fill %>')">
    <% if @conversations.length > 0 %>
      <div class="conversation-bar">
        <% @conversations.each do |conversation| %>
          <%= link_to conversation_path(conversation), remote: true do %>
            <% rMessages = conversation.messages.where(user_id: conversation.opposed_user(current_user).id) %>
            <% cClasses = "conversation-box" %>
            <% if rMessages.count > 0 %>
              <% if rMessages.last.read == false %>
                <% cClasses = "conversation-box conversation-box-new" %>
              <% end %>
            <% end %>
            <div class="<%= cClasses %>" data-user-id="<%= conversation.opposed_user(current_user).id %>">
              <% if conversation.opposed_user(current_user).photos.any? %>
                <%= cl_image_tag conversation.opposed_user(current_user).photos.first.photo, height: 40, width: 40, crop: :fill, class: "avatar" %>
              <% else %>
                <%= cl_image_tag 'qtzze0folkfxpncosvni', height: 40, width: 40, crop: :fill, class: "avatar" %>
              <% end %>
              <div class="conv-box">
                <div class="conv-box-top">
                  <p class="conv-user-name">
                    <%=  conversation.opposed_user(current_user).user_name %>
                  </p>
                  <p class="conv-time">
                    <%= conversation.messages.last.created_at.to_time.strftime("%k:%M") %>
                  </p>
                </div>
                <p class="conv-preview <%=" conv-preview-#{conversation.id}"%>">
                    <%= conversation.messages.last.body %>
                </p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="conv-display-container">
        <div class="conversation-display">
          <div class="empty-convo-cont">
            <h1>It's good to talk!</h1>
          </div>
        </div>
      </div>
      <% else %>
      <div class="conversation-bar"></div>
        <div class="conversation-display">
          <div class="empty-convo-cont">
            <h1>It's good to talk!</h1>
          </div>
        </div>
      <% end %>
  </div>
</div>
