<div class="container">
  <% chat_margin = '16px' %>
  <% if @new_matches.any? %>
    <% chat_margin = '0px' %>
    <div class="match-bar">
      <span class="match-text">New matches</span>
      <div class="match-content">
        <% @new_matches.each do |match| %>
        <% match_class = match[:new] ? 'avatar match-new' : 'avatar' %>
          <div class="match-box">
            <%= link_to start_conversation_path(match: match[:user]), remote: true do %>
              <%= cl_image_tag match[:user].photos.first.photo, height: 45, width: 45, crop: :fill, class: match_class %>
            <% end %>
            <span><%= match[:user].user_name %></span>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="container-conversation" style="margin-top: <%= chat_margin %> ; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path 'lmvtemkcyjxacb6nvx17', crop: :fill %>')">
    <% if @conversations.length > 0 %>
      <div class="conversation-bar">
        <% @conversations.each do |conversation| %>
          <%= render partial: "conv_box", locals: {conversation: conversation} %>
        <% end %>
      </div>
      <div class="conv-display-container">
        <div class="conversation-display">
          <div class="empty-convo-cont">
            <h1>It's good to talk!</h1>
          </div>
        </div>
      </div>
      <% else %>
      <div class="conversation-bar"></div>
        <div class="conversation-display">
          <div class="empty-convo-cont">
            <h1>It's good to talk!</h1>
          </div>
        </div>
      <% end %>
  </div>
</div>
