<div class="navbar-timbre">
  <%= link_to root_path, class: "navbar-brand" do %>
    <i class="fas fa-drum"></i>
    <span id="logo-name">Timbre</span>
  <% end %>

  <!-- logic to find new mail -->
  <% if user_signed_in? && !current_page?(conversations_path) %>
    <% mail_class = Conversation.new_mail(current_user) ? 'mail-active' : '' %>
  <% else %>
    <% mail_class = '' %>
  <% end %>

  <div class="d-flex">
      <div class="reveal-container">
        <div class="reveal-options">
          <% if user_signed_in? %>
            <%= link_to 'log out', destroy_user_session_path, method: :delete %>
            <%= link_to 'settings', settings_path %>
            <%= link_to 'discover', discover_path %>
            <%= link_to 'messages', conversations_path, id: 'messages-link', class: mail_class %>
          <% else %>
            <%= link_to 'login', show_form_path(option: "login"), remote: true %>
            <%= link_to 'sign up', show_form_path, remote: true, class: "signup-nav" %>
          <% end %>
          <a href="/">about us</a>
        </div>
      </div>
      <div id="nav-burger" class="<%= mail_class %>">
        <span></span>
        <span></span>
      </div>
  </div>
</div>
